* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #282828;
  color: #eee;
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 14px;
  background-image: url(https://img.freepik.com/foto-gratis/fondo-pantalla-grunge-oscuro-3d-atmosfera-ahumada_1048-16218.jpg?t=st=1733938679~exp=1733942279~hmac=f46924f…&w=740);
  background-size: cover;
  background-repeat: no-repeat;

}




.great-vibes-regular {
  padding-top:0px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
  text-align: center;
}


ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
font-size: 20px;
margin: auto;

max-width: 80%;
  
}

li{ 
  list-style:decimal;
  font-size: 30px;

  text-align: justify;
  padding-bottom: 20px;

}
.nombre_subsecretario{
  max-width: 80%; 
  margin-top:-80px; 
  text-align:right;
}


.espaciado{
  padding-bottom: 30vh;
}
.container{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media all and (max-width:1100px)
{

  



  h1{
    font-size: 58px;
  }

  .great-vibes-regular{
    font-size: 50px;
  }

  .nombre_subsecretario{
    margin-top: 0;
    font-size: 12px;
  }


  ul{
    max-width: 95%;
  
  
  }


  ul>li{
    font-size: 26px;
    text-align: left;
    padding-bottom: 50px;
  }

  .espaciado{
    padding-bottom: 15vh;
  }

  .container{
    min-height: 90vh;
  }

  .ContenedorFrases{
    min-height: 100vh;
  }
}
